<a href="https://colab.research.google.com/github/Psulino/Aceleradev/blob/master/codenation_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving train.csv to train.csv

In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn import tree
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

In [ ]:
df = pd.read_csv('train.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13730 entries, 0 to 13729
Columns: 167 entries, Unnamed: 0 to Q050
dtypes: float64(28), int64(79), object(60)
memory usage: 17.5+ MB

In [ ]:
zz = ['NU_INSCRICAO', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'NU_IDADE',
       'TP_SEXO', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO',
       'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO',
       'TP_DEPENDENCIA_ADM_ESC', 'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ',
       'IN_DISLEXIA', 'IN_DISCALCULIA', 'IN_SABATISTA', 'IN_GESTANTE',
       'IN_IDOSO', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC', 'CO_PROVA_MT',
       'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'TP_LINGUA',
       'TP_STATUS_REDACAO', 'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3',
       'NU_NOTA_COMP4', 'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002',
       'Q006', 'Q024', 'Q025', 'Q026', 'Q027', 'Q047','NU_NOTA_MT']
df_limp = df[zz]

In [ ]:
dataset = ['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_REDACAO','NU_NOTA_COMP1','NU_NOTA_COMP2','NU_NOTA_COMP3','NU_NOTA_COMP4','NU_NOTA_COMP5','NU_NOTA_LC',
           'NU_NOTA_MT','TP_DEPENDENCIA_ADM_ESC','TP_ESCOLA','CO_UF_RESIDENCIA','TP_COR_RACA','TP_LINGUA']

In [ ]:
df_2 = df_limp[dataset]

In [ ]:
df_2_limp = df_2.fillna(-1)
df_2_limp.isnull().sum()

NU_NOTA_CN                0
NU_NOTA_CH                0
NU_NOTA_REDACAO           0
NU_NOTA_COMP1             0
NU_NOTA_COMP2             0
NU_NOTA_COMP3             0
NU_NOTA_COMP4             0
NU_NOTA_COMP5             0
NU_NOTA_LC                0
NU_NOTA_MT                0
TP_DEPENDENCIA_ADM_ESC    0
TP_ESCOLA                 0
CO_UF_RESIDENCIA          0
TP_COR_RACA               0
TP_LINGUA                 0
dtype: int64

In [ ]:
x = df_2_limp[['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_REDACAO','NU_NOTA_COMP1','NU_NOTA_COMP2','NU_NOTA_COMP3','NU_NOTA_COMP4','NU_NOTA_COMP5',
               'NU_NOTA_LC','TP_DEPENDENCIA_ADM_ESC','TP_ESCOLA','CO_UF_RESIDENCIA','TP_COR_RACA','TP_LINGUA']].values
y = df_2_limp['NU_NOTA_MT'].values

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1,random_state=42)

Modelo Gradient Boosting Regressor

In [ ]:
grd = GradientBoostingRegressor()
grd.fit(x_train,y_train)
prev_grd = grd.predict(x_test)
r2_score(y_test,prev_grd)

0.9241753546035025

Random Forest

In [ ]:
rfor = RandomForestRegressor()
rfor.fit(x_train,y_train)
prev_rfor = rfor.predict(x_test)
r2_score(y_test,prev_rfor)

0.9185283725450576

Árvores de decisão

In [ ]:
dec=DecisionTreeRegressor()
dec.fit(x_train,y_train)
prev_dec=dec.predict(x_test)
r2_score(y_test,prev_dec)

0.8470289060957059

In [ ]:
poly = PolynomialFeatures(degree=2)
x_train_poly = poly.fit_transform(x_train)
x_test_poly = poly.transform(x_test)
reg= LinearRegression()
reg.fit(x_train_poly,y_train)
prev_lin = reg.predict(x_test_poly)
r2_score(y_test,prev_lin)

0.9204264518004253

In [ ]:
print(y_test[1:5])
print(prev_grd[1:5])

[ -1.  439.  874.1  -1. ]
[-3.91375328e-01  4.85268188e+02  8.34384737e+02 -1.30808107e+00]

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving test.csv to test (1).csv

In [ ]:
df_teste = pd.read_csv('test.csv')

In [ ]:
df_teste.head()

                               NU_INSCRICAO  CO_UF_RESIDENCIA  ... Q027  Q047
0  73ff9fcc02f0a99919906c942c2e1a1042cdcf98                41  ...    C     A
1  71a95f9f1b91a82c65ad94abbdf9f54e6066f968                21  ...    F     A
2  b38a03232f43b11c9d0788abaf060f7366053b6d                23  ...  NaN     A
3  70b682d9a3636be23f6120fa9d6b164eb3c6002d                15  ...  NaN     A
4  715494628a50142ce8cb17191cfe6d0f3cae0934                41  ...  NaN     A

[5 rows x 47 columns]

In [ ]:
a = ['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_REDACAO','NU_NOTA_COMP1','NU_NOTA_COMP2','NU_NOTA_COMP3','NU_NOTA_COMP4','NU_NOTA_COMP5',
               'NU_NOTA_LC','TP_DEPENDENCIA_ADM_ESC','TP_ESCOLA','CO_UF_RESIDENCIA','TP_COR_RACA','TP_LINGUA']

df_teste_2 = df_teste[a]
df_teste_3 = df_teste_2.fillna(-1)
df_teste_3

      NU_NOTA_CN  NU_NOTA_CH  ...  TP_COR_RACA  TP_LINGUA
0          464.8       443.5  ...            3          0
1          391.1       491.1  ...            3          1
2          595.9       622.7  ...            1          0
3           -1.0        -1.0  ...            3          0
4          592.9       492.6  ...            1          1
...          ...         ...  ...          ...        ...
4571       398.3       558.2  ...            1          0
4572       427.6       579.7  ...            2          1
4573       639.2       643.8  ...            1          0
4574       427.1       467.9  ...            2          1
4575        -1.0        -1.0  ...            1          1

[4576 rows x 14 columns]

In [ ]:
resultado = grd.predict(df_teste_3)

In [ ]:
resultado_final = resultado.reshape(-1,1).round(1)
resultado_final

array([[ 4.370e+02],
       [ 4.502e+02],
       [ 5.901e+02],
       ...,
       [ 6.747e+02],
       [ 4.485e+02],
       [-2.000e-01]])

In [ ]:
id = df_teste['NU_INSCRICAO']
id

0       73ff9fcc02f0a99919906c942c2e1a1042cdcf98
1       71a95f9f1b91a82c65ad94abbdf9f54e6066f968
2       b38a03232f43b11c9d0788abaf060f7366053b6d
3       70b682d9a3636be23f6120fa9d6b164eb3c6002d
4       715494628a50142ce8cb17191cfe6d0f3cae0934
                          ...
4571    dac0f22429c7f8e3931d0abaf5dfc8e5c772a48b
4572    a75fa8770257e7c9368d059fe53d9ef431f4bdef
4573    655fa6306720ff16e825903b5422a46608a77545
4574    1f4bc3e3d56212d500625bfe8ac78ccff4362293
4575    adf0d15b54317b6564ef56dad2b775bbb0ef50cc
Name: NU_INSCRICAO, Length: 4576, dtype: object

In [ ]:
res = np.random.normal(resultado_final)  
df_resultado_final = pd.DataFrame(res,columns=['NU_NOTA_MT'])
df_resultado_final

      NU_NOTA_MT
0     437.406569
1     451.235442
2     589.487085
3      -0.223252
4     559.570415
...          ...
4571  452.828996
4572  469.645118
4573  674.361881
4574  448.332020
4575   -0.842904

[4576 rows x 1 columns]

In [ ]:
resposta = df_teste.join(df_resultado_final)
resposta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4576 entries, 0 to 4575
Data columns (total 48 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NU_INSCRICAO            4576 non-null   object
 1   CO_UF_RESIDENCIA        4576 non-null   int64
 2   SG_UF_RESIDENCIA        4576 non-null   object
 3   NU_IDADE                4576 non-null   int64
 4   TP_SEXO                 4576 non-null   object
 5   TP_COR_RACA             4576 non-null   int64
 6   TP_NACIONALIDADE        4576 non-null   int64
 7   TP_ST_CONCLUSAO         4576 non-null   int64
 8   TP_ANO_CONCLUIU         4576 non-null   int64
 9   TP_ESCOLA               4576 non-null   int64
 10  TP_ENSINO               1480 non-null   float64
 11  IN_TREINEIRO            4576 non-null   int64
 12  TP_DEPENDENCIA_ADM_ESC  1480 non-null   float64
 13  IN_BAIXA_VISAO          4576 non-null   int64
 14  IN_CEGUEIRA             4576 non-null   int64
 15  IN_SURDEZ               4576 non-null   int64
 16  IN_DISLEXIA             4576 non-null   int64
 17  IN_DISCALCULIA          4576 non-null   int64
 18  IN_SABATISTA            4576 non-null   int64
 19  IN_GESTANTE             4576 non-null   int64
 20  IN_IDOSO                4576 non-null   int64
 21  TP_PRESENCA_CN          4576 non-null   int64
 22  TP_PRESENCA_CH          4576 non-null   int64
 23  TP_PRESENCA_LC          4576 non-null   int64
 24  CO_PROVA_CN             4576 non-null   object
 25  CO_PROVA_CH             4576 non-null   object
 26  CO_PROVA_LC             4576 non-null   object
 27  CO_PROVA_MT             4576 non-null   object
 28  NU_NOTA_CN              3442 non-null   float64
 29  NU_NOTA_CH              3442 non-null   float64
 30  NU_NOTA_LC              3377 non-null   float64
 31  TP_LINGUA               4576 non-null   int64
 32  TP_STATUS_REDACAO       3377 non-null   float64
 33  NU_NOTA_COMP1           3377 non-null   float64
 34  NU_NOTA_COMP2           3377 non-null   float64
 35  NU_NOTA_COMP3           3377 non-null   float64
 36  NU_NOTA_COMP4           3377 non-null   float64
 37  NU_NOTA_COMP5           3377 non-null   float64
 38  NU_NOTA_REDACAO         3377 non-null   float64
 39  Q001                    4576 non-null   object
 40  Q002                    4576 non-null   object
 41  Q006                    4576 non-null   object
 42  Q024                    4576 non-null   object
 43  Q025                    4576 non-null   object
 44  Q026                    4576 non-null   object
 45  Q027                    2088 non-null   object
 46  Q047                    4576 non-null   object
 47  NU_NOTA_MT              4576 non-null   float64
dtypes: float64(13), int64(20), object(15)
memory usage: 1.7+ MB

In [ ]:
nomes = ['NU_INSCRICAO','NU_NOTA_MT']
resposta_final = resposta[nomes]
resposta_final

                                  NU_INSCRICAO  NU_NOTA_MT
0     73ff9fcc02f0a99919906c942c2e1a1042cdcf98  437.406569
1     71a95f9f1b91a82c65ad94abbdf9f54e6066f968  451.235442
2     b38a03232f43b11c9d0788abaf060f7366053b6d  589.487085
3     70b682d9a3636be23f6120fa9d6b164eb3c6002d   -0.223252
4     715494628a50142ce8cb17191cfe6d0f3cae0934  559.570415
...                                        ...         ...
4571  dac0f22429c7f8e3931d0abaf5dfc8e5c772a48b  452.828996
4572  a75fa8770257e7c9368d059fe53d9ef431f4bdef  469.645118
4573  655fa6306720ff16e825903b5422a46608a77545  674.361881
4574  1f4bc3e3d56212d500625bfe8ac78ccff4362293  448.332020
4575  adf0d15b54317b6564ef56dad2b775bbb0ef50cc   -0.842904

[4576 rows x 2 columns]

In [ ]:
resposta_final.to_csv('answer.csv',index=0)